@import 'normalize';
@import 'fontello';
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }
    &:-moz-placeholder {
        @content
    }
    &::-moz-placeholder {
        @content
    }
    &:-ms-input-placeholder {
        @content
    }
}

@font-face {
    font-family: 'Sofia Pro';
    src: url(fonts/SofiaProRegular.woff2) format('woff2'), url(fonts/SofiaProRegular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

$font-stack: 'Sofia Pro',
sans-serif;
$bg-color: #1F1028;
$primary-color: #479cae;
html,
body {
    height: 100%;
    margin: 0px;
}

body {
    background: linear-gradient(45deg, $bg-color, #212635 100%) fixed no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: $font-stack;
}

.content {
    text-align: center;
}

.logo-container {
    display: inline-block;
}

$logo_width: 750px;
$date_total_width: 739px;
$date_img_width: 475px;
$horiz_line_spacing: 12px;
$colored-line-width: 2px;
#logo {
    width: $logo_width;
}

.dateText {
    margin-bottom: 10px;
    &:before {
        right: $horiz_line_spacing;
        margin-left: -50%;
    }
    &:after {
        left: $horiz_line_spacing;
        margin-right: -50%;
    }
    &:before,
    &:after {
        background-color: $primary-color;
        content: "";
        display: inline-block;
        height: $colored-line-width;
        position: relative;
        vertical-align: middle;
        width: 0px;
        transition: all 0.75s ease-in-out;
    }
    img {
        vertical-align: middle;
        width: $date_img_width;
    }
    &.lines {
        &:before,
        &:after {
            width: ($date_total_width - $date_img_width - 2 * $horiz_line_spacing) / 2;
        }
    }
}

#app {
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.75s ease-out;
}

.signup {
    margin: 10px;
    height: 72px;
    &>* {
        display: inline-block;
    }
}

.input-wrapper {
    border: $colored-line-width solid $primary-color;
}

.email-container,
.typeahead-container {
    vertical-align: top;
    margin-right: 4px;
}

.email-hint {
    color: white;
}

$input-width: 240px;
$input-padding-left: 15px;
$font-width: 26px;
$icon-padding: 9px;
$mysterious-space: 5px; // Idk
.typeahead-container {
    width: $input-width + $input-padding-left + $font-width + $icon-padding * 2 + $colored-line-width * 2 + $mysterious-space;
}

.uni-list-container {
    position: relative;
    right: 50%;
    text-align: center;
    .list-wrapper {
        display: inline-block;
        margin-right: -100%;
        min-width: 340px;
        padding: 0;
        .caret {
            width: 0px;
            height: 8px;
            left: 0;
            right: 0;
            margin: auto;
            content: '';
            border-bottom: 8px solid white;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
        }
    }
    ul {
        list-style: none;
        padding: 4px 0px;
        margin: 0;
        background: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    }
    li {
        color: #000;
        padding: 8px 12px;
        text-align: left;
        font-size: 13.3333px;
        &.active {
            background: darken(white, 10%);
            cursor: default;
        }
    }
}

.fa,
input[type="submit"] {
    transition: all 0.25s;
}

.fa {
    color: $primary-color;
    padding: $icon-padding;
}

.icon-attention-circled {
    color: white;
}

input {
    padding: $input-padding-left;
    margin: 0px;
    outline: none;
    border: none;
    font-family: $font-stack;
    &[type="text"] {
        background: transparent;
        color: white;
        width: $input-width;
        padding-right: 0px;
        margin-right: 0px;
    }
    &[type="submit"] {
        background: $primary-color;
        color: $bg-color;
        cursor: pointer;
        padding: 17px;
        &:hover {
            background: lighten($primary-color, 10%);
        }
        &:active {
            background: darken($primary-color, 15%);
            transform: scale(0.95);
        }
        &:disabled {
            background: $primary-color;
            color: darken($primary-color, 15%);
            cursor: not-allowed;
            transform: scale(1) !important;
            opacity: 0.5;
        }
    }
    @include placeholder {
        color: $primary-color;
    }
}


/*
	Responsiveness
*/

@media screen and (max-width: 800px) {
    $logo_width_800px: 600px;
    #logo {
        width: $logo_width_800px;
    }
    .dateText {
        transform: scale($logo_width_800px / $logo_width);
        margin-bottom: 4px;
        &:before,
        &:after {
            height: 2 * $logo_width / $logo_width_800px + 0px;
        }
    }
    $input-width-800px: 166px;
    input[type="text"] {
        width: $input-width-800px;
    }
    .typeahead-container {
        width: $input-width-800px + $input-padding-left + $font-width + $icon-padding * 2 + $colored-line-width * 2 + $mysterious-space;
    }
}

@media screen and (max-width: 640px) {
    $logo_width_640px: 450px;
    #logo {
        width: $logo_width_640px;
    }
    .dateText {
        img {
            width: 360px;
        }
        &.lines:before,
        &.lines:after {
            width: 86px;
        }
    }
    $input-width-640px: 378px;
    input[type="text"] {
        width: $input-width-640px;
    }
    $input-total-width-640px: $input-width-640px+$input-padding-left+$font-width+$icon-padding * 2+$colored-line-width * 2+$mysterious-space;
    .typeahead-container {
        width: $input_total_width_640px;
    }
    input[type="submit"] {
        width: $input_total_width_640px;
    }
    .email-container,
    .typeahead-container {
        margin-right: 0px;
        margin-bottom: 16px;
    }
    .uni-list-container {
        position: absolute;
        z-index: 5;
        .list-wrapper {
            min-width: $input_total_width_640px;
        }
    }
    #app {
        height: 300px;
    }
}

@media screen and (max-width: 480px) {
    $logo_width_480px: 320px;
    #logo,
    .logo-container {
        width: $logo_width_480px;
    }
    .dateText {
        transform: scale(0.57);
		margin-bottom: 0px;
        &:before,
        &:after {
            height: 4px;
        }
    }
    $input-width-480px: 250px;
    input[type="text"] {
        width: $input-width-480px;
    }
    $input-total-width-480px: $input-width-480px+$input-padding-left+$font-width+$icon-padding * 2+$colored-line-width * 2+$mysterious-space;
    .typeahead-container {
        width: $input-total-width-480px;
    }
    input[type="submit"] {
        width: $input-total-width-480px;
    }
    .email-container,
    .typeahead-container {
        margin-right: 0px;
        margin-bottom: 16px;
    }
    .uni-list-container {
        position: absolute;
        z-index: 5;
        .list-wrapper {
            min-width: $input-total-width-480px;
        }
    }
    #app {
        height: 278px;
    }
}

// lol
@media screen and (max-width: 340px) {
    .content {
        transform: scale(0.9);
    }
}