@font-face {
    font-family: 'Sofia Pro';
    src: url(../assets/fonts/SofiaProRegular.woff2) format('woff2'), url(../assets/fonts/SofiaProRegular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

$font-stack: 'Sofia Pro', sans-serif;

body {
    font-family: $font-stack;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@import 'normalize';
@import 'fontello';
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }
    &:-moz-placeholder {
        @content
    }
    &::-moz-placeholder {
        @content
    }
    &:-ms-input-placeholder {
        @content
    }
}

$bg-color: #29214a;
$primary-color: #2EDCEB;
html,
body {
    height: 100%;
    margin: 0px;
}


/** Vue stuff **/

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

[v-cloak] {
    display: none;
}


/** App starts here **/

html {
    background-color: $bg-color;
}

body {
    background: url('../assets/img/skyline.svg'), linear-gradient(180deg, #181829, $bg-color 100%) fixed no-repeat;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 110%, 100%;
    transition: background-size 0.75s ease-out;
}

/* VSCode highlighting bug: https://github.com/Microsoft/vscode/issues/1505 */
/* Workaround Edge not supporting background-size transitions */
@supports (-ms-ime-align: auto) {
    body {
        background-size: 100%, 100%;
        transition: none;
    }
}

body.loaded {
    background-size: 100%, 100%;
}

.container {
    text-align: center;
}

.logo-container {
    display: inline-block;
}

$logo_width: 750px;
$date_total_width: 739px;
$date_img_width: 475px;
$horiz_line_spacing: 12px;
$colored-line-width: 2px;
#logo {
    width: $logo_width;
}

.dateText {
    margin-bottom: 5px;
    &:before {
        right: $horiz_line_spacing;
        margin-left: -50%;
    }
    &:after {
        left: $horiz_line_spacing;
        margin-right: -50%;
    }
    &:before,
    &:after {
        background-color: $primary-color;
        content: "";
        display: inline-block;
        height: $colored-line-width;
        position: relative;
        vertical-align: middle;
        width: 0px;
        transition: all 0.75s ease-in-out;
    }
    img {
        vertical-align: middle;
        width: $date_img_width;
    }
    .loaded & {
        &:before,
        &:after {
            width: ($date_total_width - $date_img_width - 2 * $horiz_line_spacing) / 2 + 2px;
        }
    }
}

.content {
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.75s ease-out;
}

.loaded .content {
    opacity: 1;
    transform: scale(1);
}

.signup,
.status-message {
    height: 72px;
}

.signup {
    margin: 10px auto;
    &>* {
        display: inline-block;
    }
}

.status-message {
    color: $primary-color;
    font-size: 24px;
    margin: 10px auto;
    left: 0;
    right: 0;
    max-width: $logo_width;
}

.input-wrapper {
    border: $colored-line-width solid $primary-color;
}

.email-container,
.typeahead-container {
    vertical-align: top;
    margin-right: 4px;
}

.email-hint {
    color: white;
}

$input-width: 240px;
$input-padding-left: 15px;
$font-width: 26px;
$icon-padding: 9px;
$mysterious-space: 5px; // Idk
.typeahead-container {
    width: $input-width + $input-padding-left + $font-width + $icon-padding * 2 + $colored-line-width * 2 + $mysterious-space;
}

.uni-list-container {
    position: relative;
    right: 50%;
    text-align: center;
    .list-wrapper {
        display: inline-block;
        margin-right: -100%;
        min-width: 340px;
        padding: 0;
        .caret {
            width: 0px;
            height: 8px;
            left: 0;
            right: 0;
            margin: auto;
            content: '';
            border-bottom: 8px solid white;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
        }
    }
    ul {
        list-style: none;
        padding: 4px 0px;
        margin: 0;
        margin-top: -1px;
        background: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    }
    li {
        color: #000;
        padding: 8px 12px;
        text-align: left;
        font-size: 13.3333px;
        &.active {
            background: darken(white, 10%);
            cursor: default;
        }
    }
}

.fa,
input[type="submit"] {
    transition: all 0.25s;
}

.fa {
    color: $primary-color;
    padding: $icon-padding;
}

.icon-attention-circled {
    color: white;
}

input {
    padding: $input-padding-left;
    margin: 0px;
    outline: none;
    border: none;
    font-family: $font-stack;
    font-size: 13.333px;
    line-height: 49px - 2 * $input-padding-left;
    &[type="text"],
    &[type="email"] {
        background: transparent;
        color: white;
        width: $input-width;
        padding-right: 0px;
        margin-right: 0px;
    }
    &[type="submit"] {
        background: $primary-color;
        color: $bg-color;
        cursor: pointer;
        padding: 17px;
        min-width: 118px;
        -webkit-tap-highlight-color: transparent;
        -webkit-border-radius: 0px;
        &:hover {
            background: lighten($primary-color, 10%);
        }
        &:active {
            background: darken($primary-color, 15%);
            transform: scale(0.95);
        }
        &:disabled {
            background: $primary-color;
            color: darken($primary-color, 15%);
            cursor: not-allowed;
            transform: scale(1) !important;
            opacity: 0.5;
            &.submitted {
                cursor: wait;
            }
        }
    }
    @include placeholder {
        color: $primary-color;
    }
}


/*
	Responsiveness
*/

@media screen and (max-width: 800px) {
    $logo_width_800px: 600px;
    #logo {
        width: $logo_width_800px;
    }
    .dateText {
        transform: scale($logo_width_800px / $logo_width);
        margin-bottom: 0px;
    }
    .loaded .dateText {
        &:before,
        &:after {
            height: 2 * $logo_width / $logo_width_800px + 0px;
            width: ($date_total_width - $date_img_width - 2 * $horiz_line_spacing) / 2 + 2px;
        }
    }
    .status-message {
        font-size: 18px;
        max-width: $logo_width_800px;
    }
    $input-width-800px: 166px;
    input[type="text"],
    input[type="email"] {
        width: $input-width-800px;
    }
    .typeahead-container {
        width: $input-width-800px + $input-padding-left + $font-width + $icon-padding * 2 + $colored-line-width * 2 + $mysterious-space;
    }
}

@media screen and (max-width: 640px) {
    $logo_width_640px: 450px;
    #logo, 
    .logo-container {
        width: $logo_width_640px;
    }
    .dateText {
        img {
            width: 360px;
        }
        .loaded &:before,
        .loaded &:after {
            height: 2 * $logo_width / $logo_width_640px + 0px;
            width: 85px;
        }
    }
    .status-message {
        font-size: 16px;
        max-width: $logo_width_640px;
    }
    .signup > * {
        display: block;
    }
    $input-width-640px: 378px;
    input[type="text"],
    input[type="email"] {
        width: $input-width-640px;
    }
    $input-total-width-640px: $logo_width_640px;
    .typeahead-container {
        width: $input_total_width_640px;
    }
    input[type="submit"] {
        width: $input_total_width_640px;
    }
    .email-container,
    .typeahead-container {
        margin-right: 0px;
        margin-bottom: 16px;
    }
    .uni-list-container {
        position: absolute;
        z-index: 5;
        .list-wrapper {
            min-width: $input_total_width_640px;
        }
    }
    .content {
        height: 300px;
    }
}

@media screen and (max-width: 480px) {
    $logo_width_480px: 320px;
    #logo,
    .logo-container {
        width: $logo_width_480px;
    }
    .dateText {
        transform: scale(0.57);
        &:before,
        &:after {
            height: 4px;
        }
    }
    .status-message {
        font-size: 14px;
        max-width: $logo_width_480px;
    }
    $input-width-480px: 250px;
    input[type="text"],
    input[type="email"] {
        width: $input-width-480px;
    }
    $input-total-width-480px: $logo_width_480px;
    .typeahead-container {
        width: $input-total-width-480px;
    }
    input[type="submit"] {
        width: $input-total-width-480px;
    }
    .uni-list-container {
        .list-wrapper {
            min-width: $input-total-width-480px;
        }
    }
    .content {
        height: 278px;
    }
}

// lol
@media screen and (max-width: 340px) {
    .container {
        transform: scale(0.9);
    }
}