@font-face {
    font-family: 'sofiapro';
    src: url('SofiaProRegular.otf');
}

html, body {
	height: 100%;
	margin: 0px;
}

body {
	background: linear-gradient(45deg, #1F1028, #212635 100%) fixed no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: 'sofiapro', sans-serif;
}

.content {
	text-align: center;
}

.logo-container {
	display: inline-block;
}

#logo, .signup, #app {
	transition: all 1s ease-out;
}

.signup {
	margin: 10px;
	height: 72px;
}

.signup > * {
	display: inline-block;
}

.input-wrapper {
    border: 2px solid #479cae;
	margin-right: 4px;
}

.email-container, .typeahead-container {
	vertical-align: top;
}

.email-hint {
	color: white;
}

.typeahead-container {
	width: 312px;
}

.uni-list-container {
	position: relative;
    right: 50%;
    text-align: center;
}

.uni-list-container ul {
	list-style: none;
    padding: 0;
    background: white;
	display: inline-block;
    margin-right: -100%;
	min-width: 312px;
}

.uni-list-container li {
	padding: 8px;
}

.uni-list-container li.active {
	background: #479cae;
	color: white;
}

.fa {
    color: #479cae;
    right: 0;
    top: 0;
    padding: 16px;
    background: none;
    margin-left: -5px;
    width: 16px;
}

input {
	padding: 15px;
	margin: 0px;
	outline: none;
	border: none;
	font-family: 'sofiapro', sans-serif;
	transition: all 0.25s;
}

input[type="text"] {
	background: transparent;
	color: #479cae;
	width: 240px;
	padding-right: 0px;
	margin-right: 0px;
}

input[type="text"]:focus {
	color: #fff;
}

input[type="submit"] {
	background: #479cae;
	color:#212132;
	cursor: pointer;
	padding: 17px;
}

input[type="submit"]:hover {
	background: #63b9cb;
}

input[type="submit"]:active {
	background: #3a7f8d;
	transform: scale(0.95);
}

input[type="submit"]:disabled {
	background: #479cae;
	color: #36727c;
	cursor: not-allowed;
	transform: scale(1) !important;
}

::-webkit-input-placeholder {
	color:#479cae;
}

:-ms-input-placeholder {
	color: #479cae;
}

::-moz-placeholder {
	color: #479cae;
	opacity: 0.6;
}

:-moz-placeholder {
	color: #479cae;
	opacity: 0.6;
}