@font-face {
    font-family: 'sofiapro';
    src: url('SofiaProRegular.otf');
}

html, body {
	height: 100%;
	margin: 0px;
}

body {
	background: linear-gradient(45deg, #1F1028, #212635 100%) fixed no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* REMOVE AFTER FINISHED */
}

.content {
	text-align: center;
}

.logo-container {
	display: inline-block;
}

.signup {
	margin: 10px;
	height: 72px;
}

.signup > * {
	display: inline-block;
}

.email-container, .typeahead-container {
	vertical-align: top;
}

.email-hint {
	color: white;
}

.typeahead-container {
	width: 312px;
}

.uni-list-container {
	position: relative;
    right: 50%;
    text-align: center;
}

.uni-list-container ul {
	list-style: none;
    padding: 0;
    background: white;
	display: inline-block;
    margin-right: -100%;
	min-width: 312px;
}

.uni-list-container li {
	padding: 8px;
}

.uni-list-container li.active {
	background: #479cae;
	color: white;
}

input {
	padding: 15px;
	border-radius: 2px;
	margin: 2px;
	outline: none;
	border: none;
	font-family: 'sofiapro', sans-serif;
	transition: all 0.25s;
	border: 1px solid #479cae;
}

input[type="email"], input[type="text"] {
	background: transparent;
	color: #479cae;
	width: 276px;
}

input[type="email"]:focus, input[type="text"]:focus {
	color: #fff;
}

input[type="submit"] {
	background: #479cae;
	color:#212132;
}

::-webkit-input-placeholder {
	color:#479cae;
}

:-ms-input-placeholder {
	color: #479cae;
}

::-moz-placeholder {
	color: #479cae;
	opacity: 0.6;
}

:-moz-placeholder {
	color: #479cae;
	opacity: 0.6;
}