@font-face {
    font-family: 'Sofia Pro';
    src: url(../assets/fonts/SofiaProRegular.woff2) format('woff2'), url(../assets/fonts/SofiaProRegular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro Condensed';
    src: url(../assets/fonts/SofiaProCondRegular.ttf) format('truetype'), url(../assets/fonts/SofiaProCondLight.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

$font-stack: 'Sofia Pro Condensed',
sans-serif;
body {
    font-family: $font-stack;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* make text not selectable */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* prevent page jumping when scrollbar appears */

/*body { width: calc(100vw - 24px);}*/

@import 'normalize';
@import 'fontello';
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }
    &:-moz-placeholder {
        @content
    }
    &::-moz-placeholder {
        @content
    }
    &:-ms-input-placeholder {
        @content
    }
}

$input-width: 240px;
$input-padding-left: 15px;
$input-font-size: 18px;
$font-width: 26px;
$icon-padding: 9px;
$bg-color: #0f0c2d;
$primary-color: #e9e9e9;
$btn-bg-color: rgba(200, 200, 200, .3);
$btn-bg-color-hover: rgba(200, 200, 200, .5);

html,
body {
    margin: 0;
    width: 100%;
    padding: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}

/** Vue stuff **/

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

[v-cloak] {
    display: none;
}

/** App starts here **/

html {
    background: url(../assets/img/ben_butchery.png);
    background-repeat: no-repeat;
    background-size: cover; // or 100%, 100%
    background: $bg-color;
}

body {
    /* fallback? */
    background: linear-gradient(180deg, $bg-color 80%, $bg-color 100%) fixed no-repeat;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%, 100%;
    transition: background-size 0.75s ease-out;
}

/* Workaround Edge not supporting background-size transitions */

@supports (-ms-ime-align: auto) {
    body {
        background-size: 100%, 100%;
        transition: none;
    }
}

html .loaded {
    background: url(../assets/img/ben_butchery.png);
    background-size: cover; // or 100%, 100%
}


$logo_width: 800px;
$date_total_width: 739px;
$date_img_width: 475px;
$horiz_line_spacing: 12px;

.container {
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.75s ease-out;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: $logo_width;
}
.loaded .container {
    opacity: 1;
    transform: scale(1);
}

#logo {
    // 7% allows for full logo to display on landscape mobile devices
    margin-top: 7%;
    /* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */
    -webkit-filter: drop-shadow( -2px -2px 2px rgba(30,30,30,.3) );
            filter: drop-shadow( -2px -2px 2px rgba(30,30,30,.3) );
    max-width: 100%;
}
.logo-container {
    width: 50%;
}

.divider {
    height: 300px;
    border-radius: 2px;
    width: 4px;
    opacity: .5;
    background: rgba(200, 200, 200, .6);
    margin: 20px;
}

.titleText,
.dateText {
    margin-bottom: 5px;
    color: $primary-color;
    font-size: $input-font-size * 1.4;
    &:before {
        right: $horiz_line_spacing;
        margin-left: -50%;
    }
    &:after {
        left: $horiz_line_spacing;
        margin-right: -50%;
    }
    .loaded & {
        &:before,
        &:after {
            width: ($date_total_width - $date_img_width - 2 * $horiz_line_spacing) / 2 + 2px;
        }
    }
    padding-top: 10px;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.signup,
.status-message {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    text-align: center;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
}

.status-message {
    color: $primary-color;
    font-size: 24px;
}

.sponsor {
    color: $primary-color;
    padding-top: 5%;
    font-size: 18px;
    z-index: -2;
    a {
        color: $primary-color;
    }
    width: 100%;
}

.input-wrapper {
    transition: 0.4s ease;
    border: 2px solid $primary-color;
    border-radius: 4px;
    background: $btn-bg-color;
    &:hover {
        background: $btn-bg-color-hover;
    }
}

.email-container,
.typeahead-container {
    text-align: center;
    vertical-align: top;
    margin: 4px;
    // width: $input-width + $input-padding-left + $font-width + $icon-padding * 2 + 9px;
}

.uni-list-container {
    position: relative;
    height: 0;
    right: 50%;
    text-align: center;
    z-index: 5;
    .list-wrapper {
        display: inline-block;
        margin-right: -100%;
        min-width: $input-width + $input-padding-left + $font-width + $icon-padding * 2 + 9px;
        padding: 0;
        .caret {
            width: 0px;
            height: 8px;
            left: 0;
            right: 0;
            margin: auto;
            content: '';
            border-bottom: 8px solid $primary-color;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
        }
    }
    ul {
        list-style: none;
        padding: 4px 0px;
        margin: 0;
        margin-top: -1px;
        background: $primary-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    }
    li {
        color: #000;
        padding: 8px 12px;
        text-align: left;
        font-size: 14px;
        &.active {
            background: darken($primary-color, 10%);
            cursor: default;
        }
    }
}

.fa,
input[type="submit"] {
    transition: all 0.25s;
}

.fa {
    color: $primary-color;
    padding: $icon-padding;
}

.icon-attention-circled {
    color: $primary-color;
}

input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 9px;
    padding-right: 9px;
    margin: 0px;
    outline: none;
    border: none;
    font-family: $font-stack;
    font-size: $input-font-size;
    line-height: 49px - 2 * $input-padding-left;
    &[type="text"],
    &[type="email"] {
        background: transparent;
        color: $primary-color;
        width: 70%;
    }
    &[type="submit"] {
        background: $primary-color;
        color: $bg-color;
        padding: 17px;
        min-width: 118px;
        -webkit-tap-highlight-color: transparent;
        -webkit-border-radius: 0px;
        &:hover {
            background: lighten($primary-color, 10%);
            transform: scale(1.05);
        }
        &:active {
            background: darken($primary-color, 25%);
        }
        &:disabled {
            background: $primary-color;
            color: darken($primary-color, 50%);
            cursor: not-allowed;
            transform: scale(1);
            opacity: 0.5;
            &.submitted {
                cursor: wait;
            }
        }
    }
    @include placeholder {
        color: $primary-color;
    }
}

#submit-btn {
    display: block;
    margin: 4px auto;
    border-radius: 4px;
    min-height: 19px;
    padding: 17px;
}

.titleText {
    font-size: $input-font-size * 2.5;
}


/*
	Responsiveness
*/

@media screen and (max-width: 800px) {
    $width_800px: 600px;
    html {
        /* special mobile background image */
        background-image: url(/assets/img/bg_mobile.png);
    }
    html .loaded {
        /* special mobile background image */
        background-image: url(/assets/img/bg_mobile.png);
    }
    #logo,
    .sponsor,
    .status-message,
    .container,
    .signup {
        font-size: 18px;
        max-width: $width_800px;
    }
    .content {
        // Make stack
        flex-direction: column;
        justify-content: center;
    }
    .divider {
        // Make divider horizontal
        height: 4px;
        width: $width_800px / 2;
    }
    .signup,
    .logo-container {
        // Undo padding for horizontal view
        padding-top: 0px;
        width: $width_800px * 0.75;
    }
    .sponsor {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 640px) {
    html {
        /* special mobile background image */
        background-image: none;
    }
    html .loaded {
        /* special mobile background image */
        background-image: none;
    }
    $width_640px: 450px;
    #logo,
    .sponsor,
    .status-message,
    .container {
        font-size: 18px;
        max-width: $width_640px;
    }
    .dateText {
        transform: scale(0.84);
        .loaded {
            height: 2 * $logo_width / $width_640px;
            width: 85px;
        }
    }
    .divider {
        width: $width_640px / 2;
    }
    .signup,
    .logo-container {
        width: $width_640px * .75;
    }
}


@media screen and (max-width: 480px) {
    $width_480px: 320px;
    #logo,
    .status-message,
    .container,
    .dateText {
        max-width: $width_480px;
    }
    .dateText {
        transform: scale(0.84);
        .loaded {
            height: 2 * $logo_width / $width_480px;
            width: 85px;
        }
    }
    .divider {
        width: $width_480px / 2;
    }
    .signup,
    .logo-container {
        width: $width_480px;
    }
}

@media screen and (max-width: 340px) {
    .html {
        transform: scale(0.9);
    }
}